*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,900;1,300;1,800&display=swap');

.textotitulo { font-family: 'Montserrat', sans-serif;
                 font-weight: bold;
                font-size: 45px;
                font-style: italic;
              }
.navegador {
                background-color: black;
                 font-family: 'Bebas Neue', sans-serif;
            }
.navegador > ul { 
              list-style-type: none;
              display: flex;
             justify-content: end;
            padding-right: 100px;

                }
.navegador > ul > li {
             position: relative;
                }           
     
.navegador > ul > li:hover ul {
                             display: block;
                                 }
.navegador  ul  li  a {
                          display: block;
                             padding: 25px; 
                             text-decoration: none;
                             color: white;
                             font-size: 20px;
                                 }
.navegador > ul > li > ul {
                              position: absolute;
                              display: none; 
                              list-style-type: none;
                              background-color: black;
                             }
        .encabezado {
                      background-image:url(../img/SL_0210121_40570_75.jpg);
                      background-size: cover;
                          width: 100%;
                      height: 100px;
                     display: flex;
                       justify-content: center;
                     align-items: center;
                    color: white;
                         }
         .textotitulo {
        
             text-overflow: unset;
                    }
            .subtitulo{
                margin: 30px;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
                font-size:x-large;
                    }
            .deportes { 
                display: flex;
               flex-wrap: wrap;
               align-items: center;
               margin: 50px;
               justify-items: center;
               margin-left: 135px;
               
             }
                 
    .img1 { 
            border-radius: 10px;
             row-gap: 20px;
             gap: 20px;
             transition: .5s;
             

             }
             .img1:hover{
                
                
                transform:translate(7px,7px) ;
             }
    .tarjeta1 {
                
                
                 margin: 10px; 
                 width:auto;
                 padding: auto;
                
                  }
       
    .tarjeta-info{display: flex;
      flex-direction: column;


          }      
    
    
    

        .formulario { 
            width: 300px;
            margin: 50px;
             border: solid 2px;
             padding: 15px;
                font-size: large;
                
                 }
        
        .textarea { 
                width: 250px;
              height: 200px; 
                   }
         .piedepag {
                 padding: 10px;
                 font-style: italic;
                 background-color: gray;
                 text-decoration: none;
               }
               .piedepag > div > a { 
                    text-decoration: none;
                     font-family: sans-serif;
                     color: black;
                     font-size: medium;
                     }
        
            .imagenbanner {
               width: 1519px;
               height: 400px;
                        }
        
             .descrip { 
                margin: 15px;
                font-size: large;
                text-align: left;
                
                            }
             
                .fabricahis {
                    margin: 15px;
                     width: 600px ;
                     height: 350px;
                       }
             .fabricaahora {
                margin: 15px;
                width: 600px ;
                height: 350px;
                            }
             .botonenviar { 
                background-color: black;
                color: white;
                border: none;
                margin-top: 10px;
                padding: 5px 25px;
                border-radius: 5px;
                font-weight: bold;
                         }
            .susc {   
                box-sizing: content-box;             
                margin: 10px; 
                         }
            .btn { 
                background-color:white;
                color: rgb(9, 9, 9);
                border: none;
                margin-top: 10px;
                padding: 5px 25px;
                border-radius: 5px;
                font-weight: bold;
                    }
             .btn2 { 
                background-color: black;
                color: white;
                border: none;
                margin-top: 10px;
                padding: 5px 25px;
                border-radius: 5px;
                font-weight: bold;
                      }
             .news{ 
                margin: 10px;
                 font-family: Arial, Helvetica, sans-serif;
                padding: 10px;
                     }
        .video  {
            margin: 15px;
                 }
        .tarjetas { 
            display: flex;
            flex-wrap: wrap;
            flex-direction:row;
            justify-content: space-between;
                 }

        .tarjeta { 
            width: 250px;
            border: solid 1px;
            border-radius: 8px;
            overflow: hidden;
            padding: 15px;
            margin: 10px;
                  }
        .tarjeta__img {
            width: 100%;
                  }

        .tarjeta__titulo { margin: 10px;}
     
        .fondoGenerico { 
            background-color:silver;
            margin: 0px;
            padding: 0px;
                      }
        .mapa {
             margin: 25px;
            padding: 15px;
            size-adjust: center;
            width: 800px;
             height:450px;
            border-style: none;     
               }
        .imglocal { 
            margin: 25px;
            padding: 15px;
            size-adjust: center;
            width: 800px;
             height:450px;
            border-style: none;
                 }
        .marcador {display:inline-flex;
            margin: 20px;
                  }
         .reloj {
            display:inline-flex;
            margin: 20px;
                 }
         .telefono {
            display:inline-flex;
            margin: 20px;
             }
        .textubicacion { display:inline-flex;
            margin: 20px;
                     }
